@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}
body {
  padding: 20px;
  background-color: #f0f2f5;
}
.container {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.user-info {
  width: 350px;
  height: calc(100vh - 50px);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: white;
  overflow: auto;
}
.user-info::-webkit-scrollbar {
  width: 5px;
  background-color: lightgray;
}
.user-info::-webkit-scrollbar-thumb {
  background-color: dodgerblue;
  border-radius: 10px;
}
.info-heading {
  font-size: 1.5rem;
  padding-bottom: 5px;
  border-bottom: 2px solid dodgerblue;
  margin-bottom: 10px;
  font-weight: 500;
  margin-top: 30px;
}
.personal-information .info-heading {
  margin-top: 0;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.form-group input {
  padding: 8px 10px;
  border-radius: 5px;
  outline: none;
}
.user-image-container {
  position: relative;
  width: 120px;
  height: 40px;
}
#selectFileBtn {
  background-color: dodgerblue;
  border: 2px solid dodgerblue;
  border-radius: 5px;
  outline: none;
  height: 100%;
  width: 100%;
  font-size: 1.05rem;
  color: white;
  font-weight: 500;
  cursor: pointer;
}
#selectFileInput {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  opacity: 0;
}
.addBtn,
.removeBtn {
  background-color: dodgerblue;
  border: none;
  outline: none;
  padding: 8px 12px;
  margin-top: 10px;
  border-radius: 5px;
  color: white;
  font-size: 1.05rem;
  cursor: pointer;
}
.removeBtn {
  background-color: red;
}
textarea {
  resize: none;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  field-sizing: content;
}

.resume-preview {
  width: 595px;
  height: 842px;
  background-color: white;
  border-radius: 10px;
  display: flex;
}
.personal-info-preview {
  width: 200px;
  height: 100%;
  background-color: #013147;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.user-personal-info-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}
.user-image-preview {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.user-fullname-preview {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: white;
}
.user-profession-preview {
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  color: lightgray;
}
hr {
  width: 100%;
  border-color: white;
}
.user-contact-preview {
  text-align: left;
  width: 100%;
}
.heading-preview {
  font-size: 16px;
  font-weight: 600;
  color: white;
  text-align: left;
}
.contact-info-list {
  list-style: none;
  color: white;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-info-list li {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 10px;
}
.education-cards-preview {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}
.education-card-preview {
  width: 100%;
}
.education-year-preview {
  color: #02a8f4;
  font-size: 8px;
  font-weight: 500;
}
.education-title-preview {
  font-size: 12px;
  font-weight: 500;
  color: white;
}
.education-entry {
  width: 100%;
  text-align: left;
}
.user-education-preview {
  width: 100%;
  text-align: left;
}
.university-name-preview {
  font-size: 9px;
  font-weight: 500;
  opacity: 0.8;
  color: white;
}

.user-languages-preview {
  text-align: left;
  width: 100%;
}
.language-cards-preview {
  display: flex;
  flex-direction: column;
  gap: 7px;
  color: white;
  margin-top: 20px;
}
.language-title-preview {
  font-size: 12px;
  font-weight: bold;
}
.language-progressbar-preview {
  width: 100%;
  height: 8px;
  border-radius: 30px;
  position: relative;
  background-color: #022535;
  margin-top: 8px;
}
.language-progressbar-preview .bar {
  height: 100%;
  width: 0%;
  background-color: #02a8f4;
  border-radius: 50px;
  transition: 0.3s;
}
.detailed-info-preview {
  background-color: white;
  width: calc(100% - 200px);
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.detailed-heading {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #013147;
}
.profile .description {
  font-size: 12px;
  font-weight: normal;
}
.experience-cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.experience-card {
  display: flex;
}
.experience-duration {
  width: 30%;
}
.experience-description {
  width: 70%;
}
.experience-date {
  font-size: 12px;
  font-weight: 600;
}
.experience-company {
  font-size: 10px;
  font-weight: 500;
  opacity: 0.8;
}

.experience-title {
  font-size: 12px;
  color: #04658c;
  font-weight: 600;
}
.experience-para {
  font-size: 11px;
  color: #013147;
}
.pro-skills-cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pro-skills-card {
  display: flex;
}
.pro-skills-card-title {
  width: 30%;
  font-size: 10px;
  font-weight: 500;
  color: #757575;
  text-transform: uppercase;
}
.pro-skills-progressbar {
  width: 70%;
  height: 8px;
  background-color: #e9e9e9;
  border-radius: 30px;
  position: relative;
}
.pro-skills-progressbar .bar {
  width: 0%;
  height: 100%;
  background-color: #02a8f4;
  border-radius: 30px;
  transition: 1s;
}
.interest-cards {
  display: flex;
  align-items: center;
  gap: 10px;
}
.interest-card {
  padding: 8px 12px;
  border-radius: 10px;
  color: white;
  background-color: #02a8f4;
  font-size: 11px;
  text-transform: capitalize;
}
.PrintBtn {
  padding: 8px 12px;
  background-color: dodgerblue;
  height: 50px;
  border-radius: 10px;
  border: 2px solid dodgerblue;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

@media print {
  body,
  body * {
    visibility: hidden;
  }

  .resume-preview,
  .resume-preview * {
    visibility: visible;
  }
  .resume-preview {
    position: absolute;
    left: 0;
    top: 0;
    width: 210mm !important;
    min-height: 297mm !important;
    margin: 0;
    padding: 0px;
    box-shadow: none;
    border-radius: 0;
  }
  .personal-info-preview {
    border-radius: 0;
  }
  .detailed-info-preview {
    border-radius: 0;
  }
}

@page {
  size: A4;
  margin: 0;
}
